@import "tailwindcss";

@layer items {
  @keyframes scan {
    0% { transform: translateY(0); }
    100% { transform: translateY(180px); } /* Adjust based on your image height */
  }

  .animate-scan-line {
    animation: scan 2s ease-in-out infinite alternate;
  }
}